* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, 
.weather-card {
    background-image: var(--background-image);
    background-position: center;
    background-size: cover;
}

body{
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.weather-card {
    color: var(--text-color);
    text-align: center;
    margin: 50px auto 0;
    padding: 40px 20px;
    border-radius: 20px;
}

.app-title {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.title {
    color: var(--text-color);
    font-size: 40px;
    text-transform: uppercase;
}

.paragraph-text {
    padding: 0 10px;
    font-size: var(--paragraph-font-size);
    text-transform: uppercase;
    white-space: nowrap;
    text-shadow: var(--paragraph-text-shadow);
    box-shadow: var(--paragraph-box-shado);
    background-color: var(--paragraph-background);
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    height: 60px;
    min-width: 0;
    font-size: var(--search-input-font-size);
    margin-right: 16px;
    padding: 10px 25px;
    border: 0;
    border-radius: 30px;
    outline: 0;
    background: var(--search-background);
    color: var(--input-color);
    flex: 1;
}

.search button {
    width: 60px;
    height: 60px;
    border: 0;
    border-radius: 50%;
    outline: 0;
    background: var(--search-background);
    cursor: pointer;
}

.search button img {
    width: 20px;
}

.error {
    font-size: var(--error-font-size);
    text-align: left;
    margin-top: 10px;
    margin-left: 15px;
}

.current-time {
    margin-top: 20px;
}

.weather, 
.error, 
.future-weather-section {
    display: none;
}

.weather-icon {
    width: 170px;
    margin-bottom: -30px;
}

.weather-description{
    margin-top: 30px;
}

.weather h1,
h2 {
    font-size: var(--h1-h2-font-size);
    font-weight: 500;
    margin-top: 20px;
}

.feels-like {
    margin-bottom: 20px;
}

.feels-like-temp,
.future-temp,
.future-feels-like {
    font-size: var(--temp-font-size);
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.details-left,
.details-right {
    display: flex;
    flex-direction: column;
}

.details-item {
    display: flex;
    align-items: center;
    margin: 10px;
    border-bottom: 1px solid;
    padding-bottom: 5px;
    padding-right: 20px;
}

.details-item img,
.future-weather-details img {
    margin-right: 10px;
    padding: 3px;
    background-color: var(--icon-background);
    box-shadow: var(--icon-box-shadow);
}

.future-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

.future-top {
    margin-top: -20px;
}

.weather-icon,
.future-top img {
    background-color: var(--weather-icon-background);
    border-radius: 50%;
    margin-top: 15px;
    padding: 5px;
}

.future-weather-description{
    margin: 25px 0;
}

.future-weather-details {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.future-weather-left {
    text-align: left;
}